# 1. 자료형

헷갈리는 것 위주로 정리하겠다.

## 실수형
- "유효숫자e지수" 형태로 표현이 가능하다.

In [1]:
print(1e9)
print(1234e-3)

1000000000.0
1.234

- round 함수를 사용하여 특정 소숫점에서 반올림이 가능하다.

In [7]:
a = 0.1467
# 첫 째 자리까지 표현
print(round(a,1))
# 셋 째 자리까지 표현
print(round(a,3))

0.1
0.147

## 리스트 자료형

- 리스트는 기본적으로 아래와 같이 선언 가능하다.

In [9]:
a = list()
b = []
print(type(a))

<class 'list'>

### 리스트 컴프리헨션

- 리스트를 괄호 안에 조건문이나 반복문을 사용함으로써 초기화하는 방식이다.

In [10]:
# 0에서 10까지 3의 배수
arr = [i for i in range(0,10) if i%3 == 0]
arr

[0, 3, 6, 9]

In [11]:
# 0에서 10까지 제곱
arr2 = [i*i for i in range(0,10)]
arr2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
# 2차원 리스트를 초기화할 때 유용하다.
n=3
m=4
arr3 = [[0]*m for _ in range(0,n)]
arr3

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

### 리스트 관련 메서드

- insert()
    - insert는 지정 위치에 원소를 삽입하는 메서드
    - 위치를 찾아야 하기 때문에 시간복잡도는 O(n)
    - 남발하면 시간 초과

In [16]:
marr = [1,3,5]
marr.insert(2,4)
marr

[1, 3, 4, 5]

- append()
    - 리스트의 맨 뒤에 원소 삽입
    - O(1)의 시간복잡도를 가진다

In [17]:
marr.append(6)
marr

[1, 3, 4, 5, 6]

- remove()
    - 리스트의 원소를 삭제
    - O(n)의 시간복잡도를 가진다.

In [19]:
marr.remove(1)
marr

[3, 4, 5, 6]

- 활용을 해서 특정 원소만 제거하고 싶다면?

In [22]:
marr2 = [1,1,1,1,3,3,4,5,6,7]
remove_set = [1,4]
result = [i for i in marr2 if i not in remove_set]
result

[3, 3, 5, 6, 7]

### 튜플 자료형

- 한 번 선언된 값을 변경할 수 없다
- 소괄호 ()로 선언한다.
- 그래프 알고리즘에서 자주 사용되어 튜플을 사용함으로써 변경하면 안 되는 값이 변경되고 있는지 체크가 가능하다.
- 다익스타라 최단 경로 알고리즘에서 비용과 노드라는 서로 다른 성질의 데이터를 (비용, 노드)로 튜플로 나타내는 것이 관례이다.

In [23]:
tp = (1,2,3,4)
tp[1] = 3

TypeError: 'tuple' object does not support item assignment

### 사전 자료형
- 키와 값의 쌍으로 데이터를 가지는 자료형
- O(1)의 시간복잡도를 가져 문제를 풀 때 효율적으로 사용할 수 있다.

In [28]:
fruits = dict()
fruits['사과'] = 'apple'
fruits['바나나'] = 'banana'
fruits['수박'] = 'watermelon'

print('사과' in fruits)
print(fruits.keys())
print(fruits.values())

True
dict_keys(['사과', '바나나', '수박'])
dict_values(['apple', 'banana', 'watermelon'])

### 집합 자료형

- 중복을 허용하지 않는다.
- 순서가 없다.
- O(1)의 시간복잡도를 지닌다.
- 특정한 데이터가 이미 등장한 적이 있는지 여부를 체크할 때 매우 효과적이다.

In [32]:
data = [1,1,1,3,4,4,5,2,2]
sdata = set(data)
print(data)
print(sdata)

[1, 1, 1, 3, 4, 4, 5, 2, 2]
{1, 2, 3, 4, 5}

In [34]:
# 집합 자료형의 연산
a = set([1,2,3,4])
b = set([3,4,5,6])
print(a|b) # 합집합
print(a&b) # 교집합
print(a-b) # 차집합

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [36]:
# 집합 자료형 관련 함수
sdata2= set([1,2,3])
print(sdata2)

sdata2.add(4)
print(sdata2)

sdata2.update([5,6])
print(sdata2)

sdata2.remove(3)
print(sdata2)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

# 2. 람다 표현식

람다 표현식이란?

- 식 형태로 함수를 만드다.
- 익명 함수라고도 한다.

In [1]:
def double_value(x):
    return x *2

double_value(10)

20

In [5]:
lambda_double=lambda x : x*2
lambda_double(10)

20

- 람다 함수 내에서는 새 변수를 선언할 수 없다.
- 람다 함수를 사용하는 목적은 함수의 인수 부분에서 간단하게 함수를 만들기 위해서이다.
    - 대표적인 예가 map() 이다.

In [9]:
arr = list(map(lambda x: x*2,[1,2,3]))
arr

[2, 4, 6]

- 저 한줄의 코드로 리스트의 원소를 모두 lambda 식에 적용할 수 있다.

## 람다식 활용

### 조건문 사용

In [16]:
three = list(map(lambda x: x if x%3==0 else 0, [1,2,3,4,5,6,7]))

# 참고로 if문만 사용하면 문법 에러 발생한다. 꼭 else와 같이 사용해야 한다. 그냥 def 써라..
three

[0, 0, 3, 0, 0, 6, 0]